#file contains the packages needed to run the notebooks
json
re
numpy
matplotlib
pandas
bokeh
seaborn
collections 
kernelapp
sklearn
tree
accuracy_score
confusion_matrix
graphviz
export_graphviz
scipy
ipykernel
counter
